@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400);

@-webkit-keyframes spin {
    0% {
      opacity: 0;
        -webkit-transform: rotate(0deg)
    }

    100% {
      opacity: 0;
        -webkit-transform: rotate(360deg)
    }
}

@-webkit-keyframes loading {
    0% {
        margin-left: -100%
    }

    100% {
        margin-left: 100%
    }
}


body {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
}

a {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
}

.placeholderImage {
    opacity: 0;
}

.progressBar {
    opacity: 0;
    background-color: rgba(255, 0, 255, 0)
}

.gcpa {
    background: #111;
    color: rgba(255, 0, 255, 0);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300
}

a, div, body, .gcpa, .splash, .player, .player img, .overlay, .spin, .loading {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
}

.gcpa,
.gcpa .background,
.gcpa .gcpb,
.gcpa .gcpc,
.gcpa .logo,
.gcpa .splash {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0
}

.gcpa .message,
.gcpa .gcpd,
.gcpa .watermark {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    position: absolute;
    top: 64px;
    left: 64px;
    bottom: 64px;
    right: 64px
}

.gcpa .background {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
}

.gcpa .logo,
.gcpa .splash {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    background-position: center;
    background-repeat: no-repeat;
    color: rgba(221, 221, 221, 0);
    display: none;
    font-size: 44px;
    padding-top: 25%;
    position: absolute;
    opacity: 0;
    text-align: center
}

.gcpa .message {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    background-repeat: no-repeat;
    color: rgba(255, 255, 255, 0);
    font-size: 22px;
    opacity: 0;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0);
}

.gcpa .message.gcpe {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    opacity: 0.0
}

.gcpa .watermark {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    display: none;
    background-position: bottom right;
    background-repeat: no-repeat
}

.gcpa video {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    display: none;
    background-color: #111;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%
}

.gcpa .gcpd {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    display: none;
    top: auto
}

.gcpa .gcpc {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    display: none;
    opacity: 0;
    background: rgba(0, 0, 0, 0)
}

.gcpa .gcpf {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    width: 100%
}

.gcpa .gcpg {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat
}

.gcpa .placeholderImage {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    display: none
}

.gcpa .gcph {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    padding-bottom: 54px
}

.gcpa .gcpi {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    color: rgba(255, 255, 255, 0.0);
    font-size: 44px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%
}

.gcpa .gcpj {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    color: rgba(203, 203, 203, 0.0);
    font-size: 22px;
    line-height: 33px;
    max-height: 66px;
    overflow: hidden;
    width: 80%
}

.gcpa .gcpj span:not(:first-child):before {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    content: '\0000b7';
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold
}

.gcpa .gcpk {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    bottom: 0;
    height: 30px;
    left: 0;
    position: absolute;
    right: 0
}

.gcpa .gcpl {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    background-size: cover;
    border: 0;
    float: left;
    height: 36px;
    margin-left: -4px;
    margin-top: -3px;
    width: 32px
}

.gcpa .gcpm {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    background-color: rgba(255, 255, 255, 0.0);
    height: 8px;
    margin-top: 11px;
    margin-bottom: 11px;
    overflow: hidden;
    position: relative
}

.gcpa .gcpn {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    height: 100%;
    opacity: 0
}

.gcpa .gcpo {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    height: 100%;
    width: 3px;
    background-color: rgba(255, 255, 255, 0.0);
    position: absolute;
    top: 0;
    margin-left: -3px
}

.gcpa .gcpp,
.gcpa .gcpq {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    color: rgba(255, 255, 255, 0.0);
    font-size: 16px;
    font-weight: 400
}

.gcpa .gcpp {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    float: left;
    line-height: 30px;
    margin-left: 15px;
    margin-right: 15px
}

.gcpa .gcpq {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    float: right;
    line-height: 30px;
    margin-left: 15px
}

.gcpa .watermark {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    margin-bottom: 54px
}

.gcpa[state="launching"] .logo {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    display: block
}

.gcpa[state="launching"] .gcpr {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    height: 36px;
    width: 32px;
    display: block;
    position: absolute;
    opacity: 0;
    bottom: 64px;
    left: 50%;
    margin-left: -16px
}

.gcpa[state="loading"] .gcpp,
.gcpa[state="loading"] .gcpq,
.gcpa[state="loading"] .gcpo,
.gcpa[state="loading"] .gcpl {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    display: none
}

.gcpa[state="loading"] .gcpn {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    width: 90% !important;
    opacity: 0;
}

.gcpa[state="buffering"] .gcpl {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    opacity: 0;
}

.gcpa[state="paused"] .gcpl {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
}

.gcpa[state="playing"] .gcpl {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    display: none
}

.gcpa[state="idle"] .splash {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    display: block
}

.gcpa[type="image"][state="paused"] video {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    display: block
}

.gcpa[type="image"][state="loading"] .background,
.gcpa[type="image"][state="paused"] .background {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
    background-image: none
}

.gcpa[type="audio"] .gcpi,
.gcpa[type="audio"] .gcpi {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    font-size: 22px;
    font-weight: 400
}

.gcpa[type="audio"] .gcpg,
.gcpa[type="audio"] .gcpg {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    height: 384px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0);
    width: 384px
}

.gcpa[type="audio"] .gcpf {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    margin-top: 15px
}

.gcpa[type="audio"] .placeholderImage,
.gcpa[type="audio"] .placeholderImage {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    display: block
}

.gcpa[type="audio"][state="loading"] .gcpd,
.gcpa[type="audio"][state="paused"] .gcpd {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    display: block;
    margin: 0 !important
}

.gcpa[type="audio"][state="loading"] .watermark,
.gcpa[type="audio"][state="paused"] .watermark {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    display: block;
    margin: 0 !important;
    margin-bottom: 54px !important
}

.gcpa[type="audio"][state="buffering"] .gcpd,
.gcpa[type="audio"][state="playing"] .gcpd {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    display: block
}

.gcpa[type="audio"][state="buffering"] .gcph,
.gcpa[type="audio"][state="playing"] .gcph {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    display: block;
    padding-bottom: 0
}

.gcpa[type="audio"][state="buffering"] .gcpf,
.gcpa[type="audio"][state="playing"] .gcpf {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    float: left;
    margin-top: 19px
}

.gcpa[type="audio"][state="buffering"] .gcpk,
.gcpa[type="audio"][state="playing"] .gcpk {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    height: 4px;
    position: absolute;
    width: 384px;
    bottom: auto;
    left: auto;
    right: auto;
    top: auto
}

.gcpa[type="audio"][state="buffering"] .gcpm,
.gcpa[type="audio"][state="playing"] .gcpm {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    height: 4px;
    margin-top: 0;
    margin-bottom: 0
}

.gcpa[type="audio"][state="buffering"] .gcpp,
.gcpa[type="audio"][state="buffering"] .gcpq,
.gcpa[type="audio"][state="buffering"] .gcpl,
.gcpa[type="audio"][state="playing"] .gcpp,
.gcpa[type="audio"][state="playing"] .gcpq,
.gcpa[type="audio"][state="playing"] .gcpl {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    opacity: 0;
    display: none
}

.gcpa[type="audio"][state="buffering"] .watermark,
.gcpa[type="audio"][state="playing"] .watermark {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    opacity: 0;
    display: block;
    margin-bottom: 0
}

.gcpa[type="video"] .gcph {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    display: flex
}

.gcpa[type="video"] .gcpg {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    align-self: flex-end;
    height: 143px;
    margin-right: 32px;
    min-width: 96px
}

.gcpa[type="video"] .gcpf {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    align-self: flex-end
}

.gcpa[type="video"][state="loading"] .gcpd,
.gcpa[type="video"][state="loading"] .watermark {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    display: block
}

.gcpa[type="video"][state="buffering"] video {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    display: block
}

.gcpa[type="video"][state="buffering"] .gcpc,
.gcpa[type="video"][state="buffering"] .gcpd {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    display: block;
    visibility: visible
}

.gcpa[type="video"][state="buffering"] .gcpc {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    opacity: 0.0
}

.gcpa[type="video"][state="buffering"] .gcph,
.gcpa[type="video"][state="buffering"] .gcpp,
.gcpa[type="video"][state="buffering"] .gcpq,
.gcpa[type="video"][state="buffering"] .gcpm {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    display: none
}

.gcpa[type="video"][state="paused"] video {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    display: block
}

.gcpa[type="video"][state="paused"] .gcpc,
.gcpa[type="video"][state="paused"] .gcpd,
.gcpa[type="video"][state="paused"] .watermark {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    display: block;
    visibility: visible
}

.gcpa[type="video"][state="paused"] .gcph,
.gcpa[type="video"][state="paused"] .watermark,
.gcpa[type="video"][state="paused"]:not(.gcps) .gcpm,
.gcpa[type="video"][state="paused"]:not(.gcps) .gcpp,
.gcpa[type="video"][state="paused"]:not(.gcps) .gcpq {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    opacity: 0;
}

.gcpa[type="video"][state="paused"] .gcpc {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    opacity: 0.0;
}

.gcpa[type="video"][state="playing"] video {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    display: block
}

.gcpa[type="video"][state="playing"] .gcpc,
.gcpa[type="video"][state="playing"] .gcpd,
.gcpa[type="video"][state="playing"] .watermark {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    display: block;
    visibility: hidden
}

.gcpa[type="video"][state="playing"].gcps .gcpc,
.gcpa[type="video"][state="playing"].gcps .gcpd {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    visibility: visible
}

.gcpa[type="video"][state="playing"].gcps .gcph {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
    display: none
}

/* ------------------------------------------------- */
/* Player                                            */
/* ------------------------------------------------- */

.player .media-controls-panel {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
  all: initial;
  all: unset;
  background-color: #000;
  opacity: 0;
}

body {
  background-color: #000;
}

.player {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #f1f1f1;
  font-family: 'Open Sans',sans-serif;
  font-weight: 300;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.player.idle, .player.done {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
  background-image: url('done.png');
}

.player img, .player video {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.player.image img, .player.video.buffering video, 
.player.video.playing video, .player.video.paused video {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
  display: block;
}

.player .overlay {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
  display: none;
}

.overlay {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
  all: initial;
  all: unset;
  display: none;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0);
}

.player.launching .overlay {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
  display: none;
  display: block;
  position: absolute;
  left: 96px;
  right: 96px;
  bottom: 96px;
  top: 96px;
}

/* ------------------------------------------------- */
/* Branding                                          */
/* ------------------------------------------------- */

.player .logo {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
  display: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.player.launching .logo {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
  display: block;
  position: absolute;
  bottom: 50%;
  left: 50%;
}

.player:not(.launching)  .logo {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 72px;
}

.player.video.playing .logo {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
  display: none;
}

/* ------------------------------------------------- */
/* Media Info                                        */
/* ------------------------------------------------- */

.player.audio.buffering .overlay, .player.audio.loading .overlay,
.player.audio.paused .overlay, .player.audio.playing .overlay,
.player.audio.seeking .overlay, .player.video.buffering .overlay,
.player.video.loading .overlay, .player.video.paused .overlay,
.player.video.seeking .overlay {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
  display: block;
  position: absolute;
  left: 96px;
  right: 96px;
  bottom: 96px;
}

.player.video.buffering .media-artwork,
.player.video.buffering .media-info,
.player.video.paused .media-artwork,
.player.video.paused .media-info,
.player.video.seeking .media-artwork,
.player.video.seeking .media-info {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
  display: none;
}

.media-controls-panel {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
  display: none;
}

.player .media-artwork {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

.player .media-info .media-title {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
  color: #ddd;
  line-height: 100%;
  font-size: 66px;
  padding: 5px;
}

.player .media-info .media-subtitle {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
  color: #999;
  padding: 5px;
  line-height: 100%;
  font-size: 33px;
}

.player.audio .media-artwork {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
  width: 576px;
  height: 576px;
}

.player.video .media-artwork {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
  width: 144px;
  height: 215px;
  float: left;
  margin-right: 20px;
  margin-bottom: 64px;
}

.player.video .media-info {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
  display: none;
  display: table-cell;
  height: 279px;
  vertical-align: bottom;
  padding-bottom: 64px;
}

.player.launching .controls, .player.launching .media-info,
.player.launching .media-artwork {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
  display: none;
}

.player .controls {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
  display: none;
  height: 45px;
}

.player.audio .controls {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
  width: 576px;
}

.player.video .controls {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.player .controls-play-pause {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
  background-size: cover;
  border: 0;
  height: 44px;
  width: 44px;
  float: left;
}

.player.buffering .controls-play-pause {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
  background-image: url("assets/buffering.png");
  -webkit-animation: spin 1s infinite linear;
}

.player.paused .controls-play-pause {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
  background-image: url("assets/paused.png");
}

.player.playing .controls-play-pause {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
  display: none;
}

.player .controls-progress {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
  display: none;
  height: 12px;
  background-color: rgba(255,255,255,0.2);
  margin-top: 16px;
  position: relative;
  overflow: hidden;
}

.player .controls-progress-inner {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
  height: 100%;
  background-color: #3563ae;
}

.player .controls-progress-thumb {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
  height: 100%;
  width: 4px;
  background-color: rgba(255,255,255,0.5);
  position: absolute;
  top: 0;
  margin-left: -3px;
  margin-top: -2px;
  padding-bottom: 4px;
}

.player .controls-cur-time, .player .controls-total-time {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
  font-size: 24px;
  line-height: 44px;
  margin: 0 15px;
}

.player .controls-cur-time {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
  float: left;
}

.player .controls-total-time {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
  float: right;
}

.player.audio .controls {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
  height: 12px;
  margin: 5px 0 15px;
}

.player.audio .controls-progress {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
  margin-top: 0;
}

.player.audio .controls-cur-time, .player.audio .controls-total-time,
.player.audio .controls-play-pause, .player.audio.loading .controls-progress-thumb,
.player.video.loading .controls-cur-time, .player.video.loading .controls-total-time,
.player.video.loading .controls-progress-thumb, .player.video.loading .controls-play-pause {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
  display: none;
}

.player.loading .controls-progress-inner {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
  width: 50px !important;
  -webkit-animation: loading 1s infinite ease-in;
}

/* ------------------------------------------------- */
/* Skin                                              */
/* ------------------------------------------------- */

.player {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
  background-image: url("assets/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.player.launching .logo {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
  background-image: url("assets/logo.png");
  margin-top: -28px;
  margin-left: -38px;
  width: 76px;
  height: 57px;
}

.player.playing .controls-cur-time {
  -webkit-transition: all .1s ease !important;
  -moz-transition: all .1s ease !important;
  -o-transition: all .1s ease !important;
  transition: all .1s ease !important;
  margin-left: 0;
}